.mklasens-dynamic widget {
	
}

.mklasens-dynamic widget .question {
	margin-bottom: 15px;
	cursor: pointer;
	margin-left: 10px;
}


.mklasens-dynamic widget .question .icon {
	background-image: url(../images/dynamic widget-icon.png);
	background-position: top;
	background-repeat: none;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: 5px;
}

.mklasens-dynamic widget .question.active .icon {
	background-position: bottom;
}

.mklasens-dynamic widget .answer {
	padding: 15px;
	background: #f2f2f2;
	display: none;
	margin-bottom: 25px;
}

.mklasens-dynamic widget .answer.active {
	display: block;
}

.mklasens-dynamic widget .title-parent{
	font-size: 18px;
	margin-bottom: 10px;
}

.mklasens-dynamic widget .parent-posts .title-parent {
	padding: 10px;
	background: #D8D8D8;
	margin-bottom: 0;
}


.mklasens-dynamic widget .parent-posts .description-parent {
	padding: 10px;
	background: #D8D8D8;
}
